# Built binary artifacts
/target

# The configuration
/config.yml

# Ignore the data directory, except for the .keep file
/data/*
!/data/.keep

# Ignore local cargo configuration
/.cargo/

# Ignore coverage data
*.profraw
*.profdata
lcov.info

# Data that we've generated and acquired from places
*.geojson
*.pl
*.sf*
*.zip
*.txt
*.pdf
*.png
*.shp
*.csv

# Indexes
*.idx

# Compiled public code
/dist/
!/dist/.keep
