version: "0.0.0"

server:
  host: "::"
  port: 2020
  data: ./data/

datasets:
  in2010-pl94_171:
    schema: 2010/pl94_171.yaml
    files:
      geo: ingeo2010.pl
      file01: in000012010.pl
      file02: in000022010.pl
      file03: in000032010.pl

  in2020-pl94_171:
    schema: 2020/pl94_171.yaml
    files:
      geo: ingeo2020.pl
      file01: in000012020.pl
      file02: in000022020.pl
      file03: in000032020.pl

shapefiles:
  tl_2010_18157_tabblock:
    type: tabular_block
    file: data/tl_2010_18157_tabblock10.min.geojson

sessions:
  tippecanoe-2010:
    name: "tippecanoe county 2010"
    datasets:
      - in2010-pl94_171
    shapefiles:
      - tl_2010_18157_tabblock

  tippecanoe-2020:
    name: "tippecanoe county 2020"
    datasets:
      - in2020-pl94_171
    shapefiles:
      - tl_2020_18157_tabblock
